.navbar{
  background-color:blue;
  display:flex;
  justify-content: space-around;
}
.navbar a{
  padding:1%;
  color:red;
  text-decoration:none;
}
.navbar a:hover{
  background-color: black;
  color:red;
}